* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik Distressed", system-ui;
  background: linear-gradient(135deg, #d4e4f7, #f2f7f5);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2e2e2e;
}

h1 {
  font-size: 10rem;
  text-align: center;
  color: #4a6fa5;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* 导航栏 */
.top {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 800px;
  padding: 12px 24px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 100;
}

.top ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}

.top li a {
  text-decoration: none;
  font-weight: 500;
  color: #3e4e64;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.top li a:hover {
  color: #4a6fa5;
}
/* 时钟 */
.clock-container {
  width: 900px;
  height: auto;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-clock {
  font-size: 10rem;
  font-weight: bold;
  color: #2e2e2e;
  background: #ffffffc9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Moirai One", system-ui;
  font-weight: 400;
  font-style: normal;
  transition: all 0.3s ease;
}

/* Video page */
.video-container {
  position: relative;
  width: 90%;
  max-width: 800px;
  overflow: hidden;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.05);
}

video {
  width: 100%;
  height: auto;
  display: block;
  filter: brightness(0.9);
  border-radius: 5px;
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
  background: rgba(114, 143, 181, 0.4);
  padding: 10px 20px;
  border-radius: 30px;
  backdrop-filter: blur(5px);
}

button {
  background: white;
  color: #74bab9;
  padding: 7px 12px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.controls button img {
  max-width: 30px;
  max-height: 15px;
}

button:hover {
  background: #ddd;
}

.video-title {
  font-size: 3rem;
  margin-top: 40px;
  margin-bottom: 60px;
  font-family: "Moirai One", cursive;
  color: #333;
}
