h1 {
  color: #2E365A;
  font-family: "Bytesized", sans-serif; /* 有趣的网站配上有趣的字体 */
  font-weight: 600;
  font-size: 80px;
  font-style: normal;
  text-align: center;
}
/* 按钮样式 */
button {
  background-color: #656c8e;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: white;
}

button:hover {
  background-color: #293553;
}

ul {
  margin: 0;
  padding: 0;
  min-height: 20px;
  list-style: none;
  display: flex;
  gap: 10rem;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}


.flipper {
  margin-top: 50px;
}
