/* Reference list page. */
body {
  height: 100vh;
  background-color: #ffd6c7;
  display: flex;
  flex-direction: column; /* Make all content vertically aligned */
  align-items: center; /* horizontal centering */
  justify-content: center; /* vertical centering */
  gap: 40px; /* Control of spacing of components */
  margin: 0;
}

/* title style */
h1 {
  color: #2e365a;
  font-family: "Bytesized", sans-serif;
  font-weight: 600;
  font-size: 80px;
  text-align: center;
  margin: 0;
}

/* Make the boxes vertically aligned and centred */
#grid-container {
  display: flex;
  flex-direction: column; /* Vertical arrangement box */
  align-items: center; /* horizontal centering */
  gap: 20px; /* Control the spacing between boxes */
}

/* Uniform box styles */
#box1,
#box2,
#box3,
#box4, 
#box5{
  width: 400px;
  height: 50px;
  background-color: #a7ac9e;
  border-radius: 10px;
  display: flex; /* use flexbox */
  justify-content: center; /* horizontal centering */
  align-items: center; /* vertical centering */
  text-align: center; /* Centering multiple lines of text */
  height: 50px;
  width: 110%; /* Make the box fill the grid width */
  font-size: 10px;
  font-weight: bold;
  color: #333; /* Give text contrast */
}

/* button style, same as reset.css  */
button {
  background-color: #484d64;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: white;
}

button:hover {
  background-color: #1a233a;
}
